<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div layout:fragment="content">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Give or take!</h1>
            <p>You will</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="about.html">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Give</h2>

                <p>Give with</p>

                <p><a class="btn btn-default" href="mapusage.html" role="button">How to give &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Take</h2>

                <p>Take with</p>

                <p><a class="btn btn-default" href="#" role="button">How to take &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Not a user</h2>

                <p>Become a member </p>

                <p><a class="btn btn-default" href="#" role="button">Register &raquo;</a></p>
            </div>
        </div>


    </div>

</div>
</body>
</html>
